name: MERGE

on: pull_request

jobs:
  work:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: egordm/gha-yarn-node-cache@v1

    - name: Install
      run: yarn install

    - name: Lint
      run: yarn run lint
